/* 
 * mobile.css, responsive changes in display and typeface
 * override default styles
 *
 * NOTE: we are embedding JSON strings into the web page to control the number of 
 * elevator shafts and floors shown in the game. This allows the values to be adjusted 
 * independently of JS at the CSS level.
 */

/* featurephones */
@media (max-width: 319px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"featurephone1","floors":"3","shafts":"3","signx":"0.05","signw":"0.6","subshaft":"0.9"}'; display: none; }
}

/* old iPhone */
@media (min-width: 320px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"smartphone","floors":"5","shafts":"4","signx":"0.07","signw":"0.5","subshaft":"0.7"}'; display: none; }
}

/* Larger than small mobile */
@media (min-width: 420px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"tablet1","floors":"6","shafts":"5","signx":"0.01","signw":"0.4","subshaft":"0.65"}'; display: none; }
}

/* larger than small tablet */
@media (min-width: 520px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"tablet2","floors":"8","shafts":"6","signx":"0.012","signw":"0.35","subshaft":"0.6"}'; display: none; }
}

/* small tablet */
@media (min-width: 620px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"tablet2","floors":"8","shafts":"7","signx":"0.015","signw":"0.3","subshaft":"0.55"}'; display: none; }

}

/* Larger than tablet */
@media (min-width: 760px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"laptop","floors":"8","shafts":"8","signx":"0.017","signw":"0.25","subshaft":"0.5"}'; display: none; }
}

/* small desktop */
@media (min-width: 960px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"desktop1","floors":"8","shafts":"10","signx":"0.02","signw":"0.2","subshaft":"0.5"}'; display: none; }
}

@media (min-width:1024px) {
	#screen-game {
		width:100%;
	}
	body:before { content: '{"name":"ipadlandscape","floors":"8","shafts":"10","signx":"0.02","signw":"0.2","subshaft":"0.5"}'; display: none; }
}

@media (min-width: 1200px) {
	#screen-game {
		width:95%;
	}
	body:before { content: '{"name":"desktop2","floors":"8","shafts":"11","signx":"0.02","signw":"0.16","subshaft":"0.5"}'; display: none; }
}

@media (min-width: 1400px) {
	#screen-game {
		width:90%;
	}
	body:before { content: '{"name":"desktop2","floors":"8","shafts":"13","signx":"0.02","signw":"0.16","subshaft":"0.5"}'; display: none; }
}

/* Larger than Desktop HD */
@media (min-width: 1600px) {
	#screen-game {
		width:85%;
	}
	body:before { content: '{"name":"desktop3","floors":"8","shafts":"14","signx":"0.02","signw":"0.15","subshaft":"0.5"}'; display: none; }
}

@media (min-width: 1980px) {
	#screen-game {
		width:75%;
	}
	body:before { content: '{"name":"digitaltv2k","floors":"8","shafts":"16","signx":"0.02","signw":"0.12","subshaft":"0.5"}'; display: none; }
}

@media (min-width: 3960px) {
	#screen-game {
		width:75%;
	}
	body:before { content: '{"name":"digitaltv4k","floors":"10","shafts":"16","signx":"0.02","signw":"0.10","subshaft":"0.5"}'; display: none; }
}