/** 
 * OldIE.css
 * styles applying only to Internet Explorer 6,7,8
 * loaded via an IE condtional comment in index.html
 */


/*
 * Clearfix adjustement For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
	*zoom: 1;
}

/* 
 * force smooth images in old IE
 */
img {
	-ms-interpolation-mode: bicubic;
}

/* 
 * Old IE inline-block
 * @link http://www.positioniseverything.net/explorer/ienondisappearcontentbugPIE/index.htm
 * IE inline block problem. We made a custom class for inline-block that 
 * will make IE work properly
 * @link http://blog.mozilla.org/webdev/2009/02/20/cross-browser-inline-block/
 */

/* our custom IE inline-block hack */
.ie-inline-block {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}
